*
{
   padding:0;
   margin:0;
   box-sizing:border-box;
}
body
{
      background:url('moyale-town photo.jpg')no-repeat;
      background-size:cover;
      background-position;
      font-family:Ariel;
      color:red;
}
.menu-bar
{
    background:black;
    text-align: center;
}
 
.menu-bar ul
{
  display:inline-flex;
  list-style:none;
  color:green;
}
   .menu-bar ul li
{
  width:200px;
  margin:15px;
  padding:15px;
}
   .menu-bar ul li a
{
   text-decoration:none;
   color:#fff;
   display: flex;
   justify-content: center;
   flex-direction: column;   
}
.active,.menu-bar ul li:hover
{
  background:#2bab0d;
  border-radius:1px;
}
   .menu-bar.fa
{
    margin-right:8px;
}
.sub-menu-1
{
  display:none;
}
 .menu-bar ul li:hover .sub-menu-1 
{
  display:block;
  position:absolute;
  background:rgb(0,100,0);
  margin-top:15px;
  margin-left:-15px;
}
 .menu-bar ul li :hover .sub-menu-1 ul
{
   display:block;
   margin:10px;
   
}
 .menu-bar ul li:hover .sub-menu-1 ul li
{
  width:150px;
  padding:10px;
  border-bottom:1px;
  background:transparent;
  border-radius:1px;
  text-align:right;  
}
 .menu-bar ul li:hover .sub-menu-1 ul li a
{
 display:block;
 margin:10px;
}
 .menu-bar ul li:hover .sub-menu-1 ul li:
{
  border-bottom:none;
}
 .menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
  color:#b2ff00;
}
 .fa-angle-right 
{
  float:right;
}
 .sub-menu-2
{
 display:none;
}
 .hover-me:hover .sub-menu-2
{
 position:absolute;
 display:block;
 margin-left:140px;
 margin-right:-50px;
 background:rgba(0,100,0)
}
<link href='style.css' rel='stylesheet'>

